# fly.toml app configuration file generated for audio-rough-water-3069 on 2026-01-17T17:23:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'audio-rough-water-3069'
primary_region = 'lhr'

[build]

[mounts]
  source = "data"
  destination = "/data"

[processes]
  app = 'node server.js'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
